extends ../layouts/main

block styles
    link(rel='stylesheet', href='/css/form.css')

block content 
    div Login
        form(action="/login", class="form-login" method="POST")
            div.form-control
                label(for="email") E-mail
                input(
                    type="text",
                    name="email",
                    class=`${fieldErrors.email ? 'invalid' : ''}`
                    id="email",
                    value=`${userInput.email || ''}`)
                .error-message #{fieldErrors.email}
            div.form-control
                label(for="password") Password
                input(
                    type="password",
                    name="password",
                    class=`${fieldErrors.password ? 'invalid' : ''}`
                    id="password",
                    value=`${userInput.password || ''}`)
                .error-message #{fieldErrors.password}
            button.btn(type="submit") Login
        
        form(action="/reset-password", class="form-reset-password" method="POST")
            div.form-control
                label(for="recovery-email") E-mail
                input(
                    type="text",
                    name="recovery-email",
                    class=`${fieldErrors['recovery-email'] ? 'invalid' : ''}`
                    id="recovery-email",
                    value=`${userInput['recovery-email'] || ''}`)
                .error-message #{fieldErrors['recovery-email']}
            button.btn(type="submit") Reset Password