extends ../layouts/main

block styles
    link(rel='stylesheet', href='/css/plp.css')

block content
    if productList.length > 0
        .container
            .row
                each product, index in productList
                    article.product-tile.d-flex.flex-column.col.text-center
                        .product-tile__image
                            a(href=`/products/${product.id}`)
                                img(src=`${product.imagePath}`, alt=`${product.title}`) 
                        .product-tile__title
                            a(href=`/products/${product.id}`)
                                div.product__title #{product.title}
                        //- div #{product.imagePath}
                        .product-tile__content
                            div.product__price #{product.price.format()}
                        .product-tile__actions
                            include ../includes/product/add-to-cart
    else
        h1 No products
