extends ../layouts/main

block styles
    link(rel='stylesheet', href='/css/plp.css')

block content
    if productList.length > 0
        .container.mt-5
            .row.justify-content-center
                each product, index in productList
                    article.product-tile.col.text-center.p-2
                        .product-tile__image
                            a(href=`/products/${product.id}`)
                                img(src=`${product.imagePath}`, alt=`${product.title}`) 
                        .m-2
                            a(href=`/products/${product.id}`)
                                div.product__title #{product.title}
                        //- div #{product.imagePath}
                        .m-2
                            div.product__price #{product.price.format()}
                        .m-2
                            include ../includes/product/add-to-cart
    else
        h1 No products
