section.border.border-info.rounded-3.p-3.mb-3
    h5 Cart Summary

    if cart.products.length > 0
        each product in cart.products
            div
                #{product.title}
            div
                img(src=`${product.imageUrl}`, alt=`${product.title}`)
            div
                div #{product.price.format()}
                div Quantity: #{product.productLineItem.quantity}
    .my-3
        .row 
            .col-6
                | Shipment:
            .col-6.text-end
                | #{cart.getShppingCost() ? cart.getShppingCost().format() : '--'}
        .row 
            .col-6
                | Total:
            .col-6.text-end
                | #{cart.getTotalPrice().format()}

    a.btn.btn-primary(href='/checkout') 
        | Continue to Checkout