extends ../layouts/main

block styles
    link(rel='stylesheet', href='/css/cart.css')
    link(rel='stylesheet', href='/css/checkout.css')

block content
    h1
        | Cart

    .cart-ctnr.container
        .row
            .main.d-flex.flex-column.col-md-9
                if cart.products.length > 0
                    each product in cart.products
                        section.product-tile.d-flex.gx-5.border.border-info.rounded-3.p-3.m-2
                            .card__image.p-3.col-2
                                img(src=`${product.imageUrl}`, alt=`${product.title}`)
                            .card__content.p-3.col-8
                                h4.product__title #{product.title}
                                h5.product__price #{product.price.format()}
                                p.product__quantity
                                    | Quantity: #{product.productLineItem.quantity}
                            .card__actions.p-3.col-2
                                form(action="/cart/remove-product" method="post")
                                    input(type="hidden", name="productId", value=`${product.id}`)
                                    button.btn.btn-outline-danger(type="submit") 
                                        svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16")
                                            path(d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5")

            .order-summary.d-flex.flex-column.col-md-3
                include ./cart-summary
                a(href='/checkout', class=(path === '/' ? 'active' : '')) 
                    | Continue to Checkout