extends ../layouts/main

block styles
    link(rel='stylesheet', href='/css/cart.css')
    link(rel='stylesheet', href='/css/checkout.css')

block content
    h1 Cart

    .cart-ctnr
        .main
            if productList.length > 0
                each product in productList
                    section.product-tile
                        .card__image
                            img(src=`${product.imageUrl}`, alt=`${product.title}`)
                        .card__content
                            h4.product__title #{product.title}
                            h5.product__price #{product.price.format()}
                            p.product__description Quantity: #{product.productLineItem.quantity}
                        .card__actions
                            form(action="/cart/remove-product" method="post")
                                input(type="hidden", name="productId", value=`${product.id}`)
                                button.btn(type="submit") Remove from Cart

        .order-summary
            include ../checkout/order-summary
            a(href='/checkout', class=(path === '/' ? 'active' : '')) Continue to Checkout