
extends ../layouts/main

block styles
    link(rel='stylesheet', href='/css/product.css')

block content
    .grid
        article.card.product-item
            header.card__header
                h1.product__title #{product.title}
            .card__image
                img(src=`${product.imagePath}`, alt=`${product.title}`)
                // TODO Image not displayed
            div #{product.imagePath}
            .card__content
                h2.product__price #{product.price}
                p.product__description #{product.description}
            .card__actions
                include ../includes/product/add-to-cart
