extends ../layouts/main

block styles
    link(rel='stylesheet', href='/css/product.css')

block content
    if productList.length > 0
        .grid
            each product in productList
                article.card.product-item
                    header.card__header
                        h1.product__title #{product.title}
                    .card__image
                        img(src=`${product.imagePath}`, alt=`${product.title}`) 
                    div #{product.imagePath}
                    .card__content
                        h2.product__price #{product.price}
                        p.product__description #{product.description}
                    .card__actions
                        a.btn(href=`/products/${product.id}`) Details
                        include ../includes/product/add-to-cart
    else
        h1 No products
