extends ../../layouts/main

block content
    h1 My Orders

    each order in orderList
        header.border.border-info.rounded-3.p-3.m-3
            h5 Order ##{order.id}
            each product in order.products
                div
                    img(src=`${product.imagePath}`, alt=`${product.title}`)
                div
                    div #{product.price.format()}
                    div Quantity: #{product.productLineItem.quantity}
