section.border.border-info.rounded-3.p-3
    h3 Order Summary

    if cart.products.length > 0
        each product in cart.products
            div
                #{product.title}
            div
                img(src=`${product.imageUrl}`, alt=`${product.title}`)
            div
                div #{product.price.format()}
                div Quantity: #{product.productLineItem.quantity}
    .my-3
        .row 
            .col-6
                | Shipment:
            .col-6.text-end
                div #{cart.getShppingCost() ? cart.getShppingCost().format() : '--'}
        .row 
            .col-6
                | Total:
            .col-6.text-end
                div #{cart.getTotalPrice().format()}

    form.shipping-address(action="/checkout/place-order" method="POST" novalidate)
        button.btn.btn-primary(disabled)
            | Place Order