h3 Shipping
div
    form(action="/checkout/select-shipping-address" class="shipping-form" method="POST")
        each address in addressList
            header.card__header
                input(type="radio", name="shipping-address-id", value=address.id, checked=address.isMain)
                b 
                    div #{address.name}
                div #{address.street} #{address.city} #{address.state} #{address.zip} #{address.country}
        
        header.card__header
            input(type="radio", name="shipping-address-id", value="-1")
            div Use new address

        .shipping-address-form-ctnr(status="unselected")
            include ./shipping-address-form

        div.buttons
            button(type="submit", class="submit-address") Save
