h3 Shipping
div
    //- Used for reference in the billing step
    input.selected-shipping-address-id(type="hidden", value=`${cart.shippingAddressId || ''}`)

    section 
        form(action="/checkout/select-shipping-address" class="shipping-address-form" method="POST")
            each address in addressList
                header.card__header
                    input(type="radio", name="shipping-address-id", value=address.id, checked=address.isMain)
                if address.isMain 
                    img(src='/images/icons/star.png', style="width: 15px; height: 15px;" alt='Main Address')
                    b 
                        div #{address.name}
                    div #{address.getFullAddress()}
            
            header.card__header
                input(type="radio", name="shipping-address-id", value="-1")
                div Use new address

            .shipping-address-form-ctnr(status="unselected")
                include ./shipping-address-form

            div.buttons
                button(type="submit", class="submit-shipping-address") Save

    section
        form(action="/checkout/set-shipping-method" class="shipping-method-form" method="POST")
            each shippingMethod in shippingMethodList
                header.card__header
                    input(type="radio", name="shipping-method-id", value=shippingMethod.id)
                    b 
                        div #{shippingMethod.name}
                    div 
                        if shippingMethod.cost > 0
                            div $#{shippingMethod.cost}
                        else
                            div FREE
                    div #{shippingMethod.deliveryTimeInDays} days

            div.buttons
                button(type="submit") Save
        