form(action=`${formAction}` class="user-address" method="POST")
    .form-group
        input(type="hidden", class="form-control", name="id", value=`${address.id || -1}`)
        div.name-ctnr
            input(type="text", class="form-control", name="name",   value=`${address.name || ''}` placeholder="Address Name")
            .error-msg
        div.street-ctnr
            input(type="text", class="form-control", name="street", value=`${address.street || ''}` placeholder="Street")
            .error-msg
        div.city-ctnr
            input(type="text", class="form-control", name="city",   value=`${address.city || ''}` placeholder="City")
            .error-msg
        div.state-ctnr
            input(type="text", class="form-control", name="state",  value=`${address.state || ''}` placeholder="State")
            .error-msg
        div.zip-ctnr
            input(type="text", class="form-control", name="zip",    value=`${address.zip || ''}` placeholder="Zip")
            .error-msg
        div.country-ctnr
            input(type="text", class="form-control", name="country" value=`${address.country || ''}` placeholder="Country")
            .error-msg
        div.is-main-ctnr
            input(type="checkbox", class="form-control", name="is-main", checked=address.isMain)
        div Set as main address
    div.buttons
        button(type="submit", class="submit-address") Save
        a(href="/account/addresses") Back
